@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  font-family:'PT serif;', serif ;
  font-size: 18px;
}
h1, h2, h3 {
  font-family: 'Bebas Neue';
  font-weight: bold;
}

a {
  text-decoration: none;
}

element style {


}

